<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous"
/>
<div class="container my-3">
	<div class="row">
		<div class="col-sm-3 mx-6">
			<h4 class="text-center alert alert-info">Add a Product</h4>
			<form method="POST" action="{{url_for('postData')}}">
				Product Name:
				<input type="text" name="product_name" class="form-control" /><br />
				Price:<input type="number" name="price" class="form-control" /><br />
				Quantity:<input
					type="number"
					name="quantity"
					class="form-control"
				/><br />
				Brand:<input type="text" name="brand" class="form-control" /><br />
				Date:<input type="date" name="date" class="form-control" /><br />
				<input type="submit" class="btn btn-success mx-3" value="Add" />
			</form>
		</div>

		<div class="col-sm-7 offset-1">
			<h4 class="text-center alert alert-info">Show Product Information</h4>
			{%if products%}
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Quantity</th>
						<th scope="col">Price</th>
						<th scope="col">Brand</th>
						<th scope="col">Date</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					{%for product in products%}
					<tr>
						<td>{{product.name}}</td>
						<td>{{product.quantity}}</td>
						<td>{{product.price}}</td>
						<td>{{product.brand}}</td>
						<td>{{product.date}}</td>
						<td>
							<a href="#" class="btn btn-warning btn-sm">Edit</a>
							<a
								href="{{url_for('deleteData',name=product.name)}}"
								class="btn btn-danger btn-sm"
								>Delete</a
							>
						</td>
					</tr>
					{%endfor%}
				</tbody>
			</table>

			{% else %}
			<h4 class="text-center alert alert-info">No Records found</h4>
			{%endif%}
		</div>
	</div>
</div>
