{%include 'base.html'%} {%with messages = get_flashed_messages()%} {%if
messages%} {%for msg in messages%}
<div class="alert alert-warning" role="alert">{{msg}}</div>
{%endfor%} {%endif%} {%endwith%}

<div class="row">
	<div class="col-sm-8 offset-2">
		<h4 class="text-center alert alert-info">Update Product Information</h4>
		<form action="{{url_for('updateData',oid=product._id)}}" method="post">
			Name:<input
				type="text"
				name="product_name"
				value="{{product.name}}"
				class="form-control"
			/>
			<br />
			Price:<input
				type="number"
				name="price"
				class="form-control"
				value="{{product.price}}"
			/><br />
			Quantity:<input
				type="number"
				name="quantity"
				class="form-control"
				value="{{product.quantity}}"
			/><br />
			Brand:<input
				type="text"
				name="brand"
				class="form-control"
				value="{{product.brand}}"
			/><br />
			Date:<input
				type="date"
				name="date"
				class="form-control"
				value="{{product.date}}"
			/><br />

			<input type="submit" class="btn btn-success" value="Update" />
			<a href="/" class="btn btn-info">Back to Home</a>
		</form>
	</div>
</div>

<!--{{url_for('updateData',oid=product.id_)}}-->
